__pycache__/Plotters.cpython-39.pyc
__pycache__/Broth_model.cpython-312.pyc
__pycache__/Initial_values.cpython-312.pyc
__pycache__/Plotters.cpython-312.pyc
__pycache__/Plaque_model.cpython-312.pyc
__pycache__/Swimming_model.cpython-312.pyc
Nogetkode.ipynb
